@font-face {
  font-family: "thin";
  src: url("../fonts/Roboto-Thin-webfont.eot");
  src: local("?"),
    url("../fonts/Roboto-Thin-webfont.woff") format("woff"),
    url("../fonts/Roboto-Thin-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Thin-webfont.svg") format("svg");
  }

  @font-face {
  font-family: "light";
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: local("?"),
    url("../fonts/Roboto-Light-webfont.woff") format("woff"),
    url("../fonts/Roboto-Light-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Light-webfont.svg") format("svg");
  }


body{

	font-family: light;
	color: #ffffff;

	line-height:28px;
	font-size:14px;
}



body, body.modal {
    margin-right: 0 !important;
}



body.modal {
    overflow-y: hidden;
}

.blur{
  width:100%;

  background: url('../img/tetMain-14.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top;
    position:fixed;
    height:100vh;
    z-index:-10;

    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
    -o-filter: brightness(85%);
    -ms-filter: brightness(85%);
    filter: brightness(85%);

}

.mapBlur{
  width:100%;

  background: url('../img/anaconda/cascade.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top;
    position:fixed;
    height:100vh;
    z-index:-10;

    -webkit-filter: brightness(85%) blur(5px);
    -moz-filter: brightness(85%) blur(5px);
    -o-filter: brightness(85%) blur(5px);
    -ms-filter: brightness(85%) blur(5px);
    filter: brightness(85%) blur(5px);

}


.anacondaBlur{
  width:100%;

  background: url('../img/anaconda/intro-11.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top;
    position:fixed;
    height:90vh;
    z-index:-10;

    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
    -o-filter: brightness(85%);
    -ms-filter: brightness(85%);
    filter: brightness(85%);

}

.blurSub{
  width:100%;

  background: url('../img/backMosaic-07.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top;
    position:fixed;
    height:100vh;
    z-index:-10;
    opacity:.80;
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
    -o-filter: brightness(45%);
    -ms-filter: brightness(45%);
    filter: brightness(45%);
}

.blurSubSub{
  width:100%;

  background: url('../img/anaconda/cascade.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top;
    position:fixed;
    height:100vh;
    z-index:-10;
}

.blurred{


  -webkit-filter: brightness(75%) blur(40px);
}


.alls{
  width:100%;

  background: url('../img/anaconda/intro-11.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top;
    position:fixed;
    height:100vh;
    z-index:-10;

    -webkit-filter: brightness(55%);
    -moz-filter: brightness(55%);
    -o-filter: brightness(55%);
    -ms-filter: brightness(55%);
    filter: brightness(55%);


}

#vmap{

  margin:auto;

}

.leftistsBack{
  padding:15px;
  background:white;
  opacity:.25;
  height:100vh;
  position:fixed;
}

.leftists {
    padding:18px;
}

.leftists img{
  margin-top:25px;
  margin-bottom:25px;
  width:105%;

}

.leftists h2 h3{
  color:#ffffff;
  margin-bottom:30px;
}

.leftists p{
  color:#ffffff;
  font-family: thin;
  font-size:16px;
}


.galleryArea{
    padding:25px;
}

.galleryArea p{
    padding:25px;
    font-family: thin;
    font-size:18px;
}


.galleryArea img{
  max-width: 100%;
  padding-bottom:1%;
  padding-right:1%;
  padding-left:1%;
}

.fullImg img{
  max-width: 100%;
  padding:2%;

}

.interjection {

  text-align:center;
  margin-top:150px;
  margin-bottom:250px;

}


.backCountry{

  padding-bottom:25px;

}


.manymtns{
  position:absolute;
  bottom:0;
  height:300px;
  width:520px;
  margin-left:25px;
  background:url('../img/manymtns-11.png');
  background-size:contain;

}


.backcountrySection{

padding-top:150px;
height: 100%;
width:100%;

}


.backcountrySection h2{

font-size:55px;
color:#48535a;
margin-left:55px;
font-family: 'Vollkorn', serif;

}

.backcountrySection h3{

font-family: 'Vollkorn', serif;
color:#48535a;
margin-left:55px;
margin-top:80%;


}

.backcountrySection h4{
font-size:25px;
color:#48535a;
margin-left:60px;
font-family:thin;



}

.backcountrySection p{
  color:#48535a;
  margin-left:55px;
  font-size: 16px;
  width:300px;
  font-family:thin;
}


.cta{
  color:#ffffff;
  margin-left:55px;
  background:#67a5a3;
  margin-top:15px;
  width:150px;
  padding:1% 5% 1%;
  text-align:center;
  font-family: 'Vollkorn', serif;
}

.cta:hover{
  color:#ffffff;
  background: #e0696c;
  text-decoration:none;
  transition: all .2s ease-in-out;
  cursor: pointer;

}

.gridcta{
  color:#ffffff;
  border:solid 1px;
  border-color:#ffffff;
  margin-top:15px;
  width:150px;
  padding:2% 7% 2%;
  text-align:center;
  font-family: 'Vollkorn', serif;
}

.gridcta:hover{
  color:#ffffff;
  background: #67a5a3;
  border-color: #67a5a3;
  text-decoration:none;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.mainPiccta{
  position: absolute;
  top:42%;
  left:38%;
  color:#ffffff;
  margin:auto;
  background:#67a5a3;

  width:150px;
  padding:1% 5% 1%;
  text-align:center;

  display:none;
}

.mainPiccta:hover{
  color:#ffffff;
  background: #e0696c;
  text-decoration:none;
  transition: all .2s ease-in-out;
  cursor: pointer;

}

a:hover{
  text-decoration: none;
}


.mapBackground{

  height:100%;
  width:50%;
  background:url('../img/anaconda/kingsMap-01.png');
  background-size:contain;
  border-right:solid 1px;
  border-color:black;


}

.sectionLeft{
  border-right:1px solid;
  border-color:#333333;
  height:1000px;
  width:50%;
  background:url('../img/anaconda/kingsMap-01.png');
  background-size:cover;
}


.carry_2 {
  display:none;
}

.sideMap img{

  max-width: 100%;

}

.carryOnSection{
    margin-top:50px;
    background:#f2f2f2;
}

.carryOnSectionMainBack_4{
  height:95vh;
  width:100%;
  background:url('../img/se-11.png');
  background:url('../img/svitloSection-07.png');
  background-size:cover;
  background-position: bottom;

  display:none;
}

.carryOnSectionMainBack_3{
  height:95vh;
  width:100%;
    background:url('../img/se-11.png');
  background-size:cover;
  background-position: bottom;

    display:none;
}

.carryOnSectionMainBack_2{
  height:95vh;
  width:100%;
  background:url('../img/spainBkgnd-10.png');

  background-size:cover;
  background-position: bottom;

  display:none;
}


.carryOnSectionMainBack_1{
  height:95vh;
  width:100%;
  background:url('../img/nica/nicaBack-09.png');

  background-size:cover;
  background-position: bottom;


}

.carryOnSectionLeft{
  padding: 350px 120px 0;
}


.ctaNica{
  color:#ffffff;

  background:#67a5a3;
  margin-top:15px;
  width:150px;
  padding:1% 5% 1%;
  text-align:center;

}

.ctaNica:hover{
  color:#ffffff;
  background: #e0696c;
  text-decoration:none;
  transition: all .2s ease-in-out;
  cursor: pointer;
}



.carryOnSection h2{

font-size:55px;
color:#48535a;
margin-left:55px;
margin-top:125px;
font-family: 'Vollkorn', serif;


}

.carryOnSection h3{

color:#48535a;
margin-left:55px;


}

.carryOnSection h4{
font-size:25px;
color:#48535a;
margin-left:60px;
font-family: thin;


}




.leftGallery{
  width:60%;
  z-index:5;
  position:absolute;
}

.leftGallery img{
  max-width: 100%;
}

.mleftGallery{
  width:100%;
  z-index:5;
  position:relative;
  right:0;
  margin-bottom:250px;
}

.mleftGallery img{
  max-width: 95%;
}

.picMargin img{
  margin-top:105px;
  width: 80%;
}

.mrightGallery{
  width:60%;
  z-index:5;
  position:absolute;
}

.mrightGallery img{
max-width: 100%;

}

.rightGallery{

  width:100%;
  z-index:5;
  position:relative;
  right:0;
}

.rightGallery img{
max-width: 100%;
margin-top:50px;
}

.bajorb{
  padding:25px;
  height:250px;
  margin-left:30%;
  margin-bottom:5px;
}

.mbajorb{
  padding:25px;
  height:250px;
  margin-right:30%;
  margin-bottom:5px;
}

.bajorb img{

max-width: 90%;

}

.midColor{
  position:absolute;
  left:25%;
  top:125px;
  margin:auto;
  width:50%;
  height:52%;

  background:#e0696c;
}


.galleryRow{
  padding-top:25px;
}

.galleryRow h2{
  color:#333333;
}

.allHeader{

  height:100vh;

}

.rightMapArea{
  padding-left:15%;
  padding-top:5%;
}

.rightMapArea p{
  color:#333333;
  font-size: 18px;
  font-family:thin;
  width:77%;
}

.rightMapArea h3{
  color:#333333;
  font-size: 24px;
  font-family:vollkorn;
}

.leftPic h3{
  color:#333333;
  margin-left: 255px;
  margin-bottom:1px;
}



.leftPic img{

  max-width:85%;
  margin-left:15%;
  margin-top:10%;

}

.title{

  margin-top:20%;


}

.headerBox{
    position:absolute;
    margin-left:30%;
    margin-top:10%;
    height:400px;
    width:500px;
    border:solid 5px;
    border-color:#333333;
}

.tripHeader{
  padding:10%;
  margin-left:25px;
}

.tripHeader p{
  color:#333333;
  font-size:18px;
  font-family:thin;
  padding:1% 5% 1%;
  border-left:solid 1px;
  border-color:#48535a;
}

.tripHeader h1{
  color:#333333;
  font-family:vollkorn;
}

.tripHeader h3{
  color:#333333;
  font-family:vollkorn;
  line-height: 32px;
  margin-bottom:25px;
}

.anacondaHeader{
  position:absolute;
  height:100vh;
  width:100%;
  background:url('../img/anaconda/anacondaBack-12.png');
  background-size: cover;
  background-position: top;
  opacity:.45;
}


.afWinterHeader{
  position:absolute;
  height:100vh;
  width:100%;
background:url('../img/af/winter/winterTrees-12.png');  background-size: cover;
  background-position: top;
  opacity:.45;
}

.cirqueHeader{
  position:absolute;
  height:100vh;
  width:100%;
background:url('../img/cirque/cirqueBack-05.png');  background-size: cover;
  background-position: top;
  opacity:.45;
}

.utNPHeader{
  position:absolute;
  height:100vh;
  width:100%;
background:url('../img/utNP/bristleconeSketch-06.png');  background-size: cover;
  background-position: left;
  opacity:.45;
}


.nicaHeader{
  position:absolute;
  height:100vh;
  width:100%;
background:url('../img/nica/cathedralBack-08.png');  background-size: cover;
  background-position: top;
  opacity:.45;
}


.catalunyaHeader{
  position:absolute;
  height:100vh;
  width:100%;
background:url('../img/cat/catalunyaBack-07.png');  background-size: cover;
  background-position: left;
  opacity:.45;
}


.intertext{
  float:left;
  margin-top:55px;
  padding:5%;
  font-size: 18px;
  max-width:70%;
  font-family:thin;

}

.mintertext{
  float:right;
  margin-top:55px;
  margin-right:110px;
  padding:5%;
  font-size: 18px;
  max-width:70%;
  font-family:thin;
  color:#333333;
}

.interintertext{
  float:left;
  margin-top:55px;
  padding:5%;
  font-size: 18px;
  font-family:thin;
  color:#333333;
  text-align: center;
}

.interintertext p{
  max-width:70%;
  margin:auto;
}

.interintertext h3{
  font-family:vollkorn;
  color:#333333;
}
.interintertext h4{
  font-family:vollkorn;
  color:#333333;
}


.intertext p{
  color:#333333;
}

.mintertext img{
  margin-top:-75px;
  margin-left:-15px;
}



.mapSectional{
    z-index:5;
}

.maplessSectional{
    z-index:5;
}

.mapSectional img{

  max-width:82%;
  margin-left:105px;
  z-index:5;
}

.maplessSectional img{

  max-width:82%;
  margin-left:105px;
  z-index:5;
}

.mapSectional h2{

font-size:55px;
color:#48535a;
margin-left:55px;
margin-top:125px;
font-family: 'Vollkorn', serif;


}

.mapSectional h3{

color:#48535a;
margin-left:55px;


}

.mapSectional h4{
font-size:25px;
color:#48535a;
margin-left:60px;
font-family: thin;



}


.mainPic{
  position:absolute;
  left:25%;
  top:325px;
  margin:auto;
  width:50%;
  z-index: 10;

}

.mainPic img{
  width:100%;
}


.btnLeft{

  position:absolute;
  left:10%;
  top:40%;
  z-index: 10;
}

.btnLeft:hover{

  transition: all .2s ease-in-out;
  transform: scale(1.15);
  cursor:pointer;
}


.btnRight{
  position:absolute;
  right:10%;
  top:40%;
  z-index: 10;
}






.btnRight:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.15);
  cursor:pointer;
}



.btnLeft img{
  max-width:100px;
}

.btnRight img{
  max-width:100px;
}



.backCountry_2{
  display:none;
}



.summitSectionMainBack{
  height:100vh;
  width:100%;
  background:url('../img/radialMtn.jpg');
  background-size:cover;
  background-position: top;
  padding-top:200px;
  padding-bottom:200px;
  margin-top:-150px;
  z-index:1;
}


.grid1{
  height:450px;
}

.grid1back{
position:absolute;
background:url('../img/ut/zionChain.jpg');
background-size:cover;
background-position: center;
height:450px;
width:100%;

}

.grid1Info{
  position:absolute;
  bottom:10%;
  left:15px;
  display:none;
}

.grid1Info img{
  max-width:55px;
  float:left;
  margin-top:5px;
  margin-right:5px;
}

.grid1Info h6{

  	font-family: vollkorn;
  	color: #ffffff;
  	font-size: 16px;
    margin-bottom:95%;
    line-height: 22px;
}

.grid2{
  height:450px;
  margin-top:75px;

}

.grid2back{
position:absolute;
background:url('../img/af/winter/opening.jpg');
background-size:cover;
background-position: center;
height:450px;
width:100%;

}

.grid2Info{

  position:absolute;
  bottom:10%;
  left:15px;
  display:none;
}

.grid2Info h6{

  	font-family: vollkorn;
  	color: #ffffff;
  	font-size: 16px;
    margin-bottom:115%;
    line-height: 22px;
}

.grid2Info img{
  max-width:55px;
  float:left;
  margin-top:5px;
  margin-right:5px;
}

.grid3{
  height:450px;
}

.grid3back{
position:absolute;
background:url('../img/af/spring/littleCottonwood.jpg');
background-size:cover;
background-position: center;
height:450px;
width:100%;

}

.grid3Info{

  position:absolute;
  bottom:10%;
  left:15px;
  display:none;
}

.grid4{
  height:450px;
  margin-top:75px;

}

.grid4back{
position:absolute;
background:url('../img/anaconda/cascade.jpg');
background-size:cover;
background-position: center;
height:450px;
width:100%;
}

.grid4Info{

  position:absolute;
  bottom:10%;
  left:15px;
  display:none;
}



.grid5{
  height:450px;
}

.grid5back{
position:absolute;
background:url('../img/anaconda/ut/summit.jpg');
background-size:cover;
background-position: center;
height:450px;
width:100%;
}

.grid5Info{

  position:absolute;
  bottom:10%;
  left:15px;
  display:none;
}







.gallery{
  font-size:45px;
  padding:5%;
  z-index:25;
}



.gallery img{

  max-width:100%;
  margin-bottom:15px;
  padding-right:2%;

}

.gallery img:hover{

  opacity:.85;

}

p{

font-size:16;

}


.indent{

  margin-left:15px;
  font-size:34px;
  }


sup{
  font-size:50%;

}

h1{
	font-family: vollkorn;
	color:	#ffffff;
	font-size: 77px;
  margin-top:-20px;
  margin-bottom:15px;

}



h2{
font-family: 'Vollkorn', serif;
	color: #ffffff;
	font-size: 46px

}



h3{
	font-family: thin;
	color: #ffffff;
	font-size: 28px;

}


h4{
  font-family: 'Vollkorn', serif;
  	color: #ffffff;

}

h5{

	margin-top: -5px;
  margin-bottom: -5px;
	font-family: light;
	color: #ffffff;
	font-size: 24px;

}

h6{


}

#about h6{
	font-family: light;
	color:white;
	font-size: 22px;

}


.header{
  width:100%;
  height:100vh;
  padding:12% 50px 50px;
  color:#68AEA0;

  text-align: center;

  z-index:100;
}

.subheader{
  width:100%;
  height:90vh;
  padding:12% 50px 50px;
  color:#68AEA0;

  text-align: center;

  z-index:100;
}

.icoRow {

  margin: auto;
  margin-top:7%;
}

.packIcon{
  float:left;
  padding:5px;
  margin: auto;

}



.desc{
  display:block;
  float:left;
  text-align:left;
  margin-left:10px;
  margin-top:-30px;
}

.header h4{
font-family: 'Vollkorn', serif;
  color: #ffffff;

  font-size:20px;
}

.header h5{
  font-family: thin;
  color: #ffffff;
  font-size:16px;

}

.packIcon img{
  max-height:75px;
  float:left;
}

.cirqueExp{

  background:black;


}

.header h1{

  color: #fffff;
  margin-top:10px;

}

.toppers{

  width:100%;

}

.toppers li{

  float:left;
  margin:auto;
  list-style:none;


}


.header img{

    max-width:85%;
    margin-top:-35px;


}


.header h6{

    color: white;
    font-family: thin;

}

.headerOverlay{
  width:100%;
  height:450px;
  background: #033E6B;



}


.interject{

  font-size:28px;
  font-family: 'Vollkorn', serif;
  line-height:34px;

}


.fitMoreInterjection {

  font-family:thin;
  font-size:18px;
  margin-top:15px;

  padding-left:5%;
  padding-right:5%;

}

.intro p{

  font-family: thin;
  font-size:18px;
  text-align:center;
  padding-left:5%;
  padding-right:5%;

}

.introWithMap p{

  font-family:thin;
  font-size:18px;

  text-align:left;

  padding-right:5%;

}

.introWithMap img{

  max-width:100%;

}


.introImgs img{

  max-width:550px;

}

.sideintro p{

  font-family:thin;
  font-size:18px;


  padding-left:5%;
  padding-right:5%;

}

.intro img{

  width:100%;



}

.intro{

  margin-bottom:25px;

}

.close{

  margin-top:25px;
  margin-right:25px;

}

.modalSection{

  padding:55px 0 55px;
  background:url('../img/crossword.png');
  width:100%;
  margin:75px 0 75px;

}

.modalSectionTop{

  padding:0px 0 55px;
  background:url('../img/crossword.png');
  width:100%;
  margin:0px 0 75px;

}

.mapIntro{
  padding:15px;
  background:black;
  width:300px;
  height:5000px;
  position:absolute;
  top:0;
  left:0;
  opacity:.6;
  z-index:-1;


   -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;


    margin-top:-420px;

}




.mapIntro img{
    margin-top:25px;
    max-width:100%;

}




.dotMap{
  padding:15px;
  background:#333333;
  opacity:.85;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;



}





.dotMap img{
    margin-top:25px;
    max-width:100%;

}



.nav{
padding-bottom:8px;
background: black;
z-index: 210;
color:white;
width:100%;
margin:auto;
border-bottom:solid 1px;
position:fixed;
border-color:#333333;

opacity:.8;

}

.nav img{

  max-width:44px;

}

.subber{

  display:block;
  font-size:12px;
  font-family: thin;
  margin-top:-12px;

}

.navigation{

	margin:auto;

}

.navigation a{
	text-decoration: none;
	color: lightgray;
	font-size: 18px;

}

.navigation a:hover{
	text-decoration: none;
	color: white;
	font-size: 18px;

}

.nav li{

margin-right: 5%;
float:left;
list-style:none;

}

.nav li a{


	color: lightgray;


  font-family: 'Vollkorn', serif;
	font-size: 18px;

}

.nav li a:hover{
	text-decoration: none;
	color: white;


}

.mobileNav li{
	margin:12px;
	float:left;
	text-align: center;
	list-style: none;


}

.mobileNav ul{
	height:50px;
	background:#05080E;
	margin: auto;

}


.mobileNav a{
	color:white;
	font-size: 22px;

}




.mobileNavigation {

	display:none;

}


.mobileNavigation ul{
	width:100%;
	margin:auto;
	background:#05080E;
	height:100vh;
	position:fixed;
	z-index: 20;
	padding-top: 10px;

}





.mobileNavigation li{
	list-style: none;
	text-align: center;
	margin:25px;

}

.mobileNavigation a{
	color:white;
	font-size: 30px;
	font-family: fontReg;


}

.clear {clear: both;}


.modal-dialog h2{
  color: #e0696c;
  margin-top:50px;
}

.modal-dialog h3{
  color: #e0696c;
  margin-bottom:25px;
}

.modal-dialog h4{
  color: #e0696c;
  margin-top:-22px;
  font-family: thin;

	font-size: 17px;
}


.mapWide img{

  max-width:100%;
  margin-bottom:-120px;

}

.all{  background:url('../img/crossword.png');}

.main{


	max-width: 80%;
	min-width:40%;
	margin: auto;
	height:100%;
	padding:25px;
}


.introDoobly{
  padding-left:15px;
  color:#333333;
  width:88%;


}


.photos{


  margin-top:25px;

}


.photos a{

color:#68AEA0;
text-decoration:none;


}


.photos h5{

color:#68AEA0;



}


.photos a:hover{

opacity:.7;
text-decoration: none;


}


.photos:hover{


  text-decoration: none;
}


.photos img{

  max-width:90%;
  margin-bottom:15px;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;

}


.thingers{
  background: url('../img/black_lozenge.png');
  margin-top:25px;

}


.thingers img{

  max-width:100%;
  margin-bottom:15px;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;

}



.thingers h5{


margin-bottom:5px;
color:#ffffff;
font-family: thin;


}

.ico{

  float:right;
  z-index:10;
  }


.ico img{

  max-width:35px;


}

.thingers h6{

  color:#ffffff;


}

.thingers a{

  color:#68AEA0;
  text-decoration:none;

}

.thingers a:hover{

opacity:.7;
text-decoration: none;


}


.thingers ul{

  list-style:none;

}


.photosRight{

  margin-left:-50px;

}


.blurblr{
  float:left;
  position:absolute;
  margin-left:30%;
  color: white;
  z-index:100;

}


.blurblr h5{

  margin-bottom:5px;
  color:white;
  padding-left:17px;

}


.blurblr p{
  font-family: thin;
  padding-left:15px;
  width:250px;
  border-left:solid 2px;
  border-color:#68AEA0;
  z-index:100;
  font-size:16px;

}



.recent{

  border-left:solid 2px;
  border-color:#68AEA0;

}


.thinger{

  color:#ffffff;
  height:225px;
  width:100%;


  margin-top:45px;
  margin-bottom: 25px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;


}



.cirque{


  background: url("../img/wy/cirqueCover-04.png");
  background-size:cover;

}



.elbert{


  background: url("../img/co/elbert-08.png");
  background-size:cover;

}


.kings{


  background: url("../img/ut/kings-08.png");
  background-size:cover;

}


.zion{


  background: url("../img/ut/zionChain-10.png");
  background-size:cover;

}







.infolett{
  margin-right:25px;
  float:left;

}



.topper img{

  max-width:100%;
  margin-bottom:-48px;

}


.bloggles{

  margin-top:50px;
  margin-bottom:150px;
  height:100%;
  width:100%;
  padding:4%;


}

.blurred{
  transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -webkit-transition:  all .4s ease-out;
  -ms-transition:  all .4s ease-out;

  -webkit-filter: brightness(75%) blur(1px);
  -moz-filter: brightness(75%) blur(1px);
  -o-filter: brightness(75%) blur(1px);
  -ms-filter: brightness(75%) blur(1px);
  filter: brightness(75%) blur(1px);

}

.gtnp{
  position:absolute;
  height:85%;
  width:85%;
  background: url('../img/GTNP/small/lower.jpg');
  background-size: cover;

  -webkit-filter: brightness(45%) blur(5px);
  -moz-filter: brightness(45%) blur(5px);
  -o-filter: brightness(45%) blur(5px);
  -ms-filter: brightness(45%) blur(5px);
  filter: brightness(45%) blur(5px);


}

.trip {
    padding:5%;
    padding-top:25%;
    padding-bottom:40%;

    max-width:100%;

    height:500px;
    max-height:700px;

    z-index:10;

    pointer-events:none;

  }

  .overlay{
    display:none;
    position:absolute;
    opacity:.7;
    background:#408986;
    width:100%;
    height:100%;
    z-index:8;

  }

  .tripInterjection{

    padding-top:1%;

  }


  .tripInterjection img{

    max-width:100%;

  }


  .background_first{
    background: url('../img/ua2015/med/sticks.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }


  .background_second{
    background: url('../img/GTNP/small/lower.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }


.tripSet{

  height:100%;

}



.background_anaconda{
  background: url('../img/anaconda/lakeElisabeth_med.jpg');
  background-size: cover;

  -webkit-filter: brightness(105%);
  -moz-filter: brightness(105%);
  -o-filter: brightness(105%);
  -ms-filter: brightness(105%);
  filter: brightness(105%);
  position:absolute;

  width:100%;
  height:100%;



}


  .background_colombia{
    background: url('../img/colombia/med/buildings.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }

  .col-md-6{

    overflow:hidden;

  }

  .background_nica{
    background: url('../img/nica/vista.jpg');
    background-size: cover;


    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;

  }

  .tripBackground{

    transition: all .5s ease-in-out;
  }


  .tripBackground:hover{

    transition: all .5s ease-in-out;
    transform: scale(1.05);
    -webkit-filter: brightness(70%) blur(1px);
    -moz-filter: brightness(70%) blur(1px);
    -o-filter: brightness(70%) blur(1px);
    -ms-filter: brightness(70%) blur(1px);
    filter: brightness(70%) blur(1px);

    cursor:pointer;
  }




  .background_nica:hover{


    width:100%;

  }

  .background_cr{
    background: url('../img/cr/beans_med.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;

  }


  .background_cat{
    background: url('../img/cat/md/arc.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;

  }

  .background_eurotrip{
    background: url('../img/eurotrip/med/tram.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;

  }

  .background_puertorico{
    background: url('../img/puertorico/flowers.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;

  }


  .background_cirque{
    background: url('../img/wy/snyeg.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }


  .background_cirque{
    background: url('../img/wy/snyeg.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }


  .background_kings{
    background: url('../img/ut/med/kings.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }

  .background_elbert{
    background: url('../img/co/med/elbSummit.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }

  .background_angels{
    background: url('../img/ut/zionChain.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }

  .background_af{
    background: url('../img/ut/af/ridge.jpg');
    background-size: cover;

    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    filter: brightness(105%);
    position:absolute;

    width:100%;
    height:100%;



  }


.year{

  position:relative;
  bottom:-125px;
  z-index:15;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:250px;


}


.headerBadge{

  position: relative;
    z-index: 4;
    top: -150px;
    width: 300px;
    height: 300px;
    background: #ffffff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    opacity:.8;


}


.yearBadge{
  position: relative;
    z-index: 5;
    top: -100px;
    width: 280px;
    height: 280px;
    background:url('../img/mtBadge-12.png');
    background-size:contain;
    background-repeat: no-repeat;

    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    margin-bottom:-250px;
}

.midBadge{

    z-index: 5;

    width: 300px;
    height: 300px;
    background:url('../img/mtBadge-12.png');
    background-size:contain;
    background-repeat: no-repeat;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:5px;
    margin-bottom:-150px;

}


.navBadge{
  position: relative;
    z-index: 5;
    top: 30px;
    width: 75px;
    height: 75px;
    background: #e0696c;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 55px;

    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    position:fixed;
    z-index:20;
}

.navBadge:hover{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  cursor: pointer;
}


.backBtn{
  position: relative;
    z-index: 5;
    top: 55px;
    width: 25px;
    height: 25px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 15px;

    border-top:solid 6px;
    border-left:solid 6px;

    border-color:#e0696c;


    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    position:fixed;
    z-index:20;
}


.backBtn:hover{

  border-top:solid 8px;
  border-left:solid 8px;
  border-color:#e0696c;
  cursor: pointer;

}

.ico{
  position: absolute;
  z-index:7;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top:-55px;
  width:100px;

}

.year img{

  margin-right:-25px;


}

.ua2015{
  position:absolute;
  height:85%;
  width:85%;
  background: url('../img/ua2015/sticks.jpg');
  background-size: cover;

  -webkit-filter: brightness(45%) blur(5px);
  -moz-filter: brightness(45%) blur(5px);
  -o-filter: brightness(45%) blur(5px);
  -ms-filter: brightness(45%) blur(5px);
  filter: brightness(45%) blur(5px);


}


.bloggles h2{
  color:#ffffff;
  font-size:30px;
  font-family: light;
  margin-left:75px;

}

.bloggles h6{
  color:#333333;
  font-size:22px;
  font-family: light;
  margin-left:50px;
  margin-bottom:-25px;
  margin-top:40px;

}





.bloggles p{
  font-size:16px;
  padding:25px;
  max-width:80%;
  margin-left:25px;
  margin-bottom:-15px;



}




.closeBtn{
  color:#333333;
  font-size:24px;
  text-align:center;
  padding:5px;

  border:solid 1px;
  border-color:#333333;
  margin:auto;
  width:125px;
  height:45px;

  margin-top:55px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.closeBtn:hover{

  background:#333333;
  color:#ffffff;
  cursor:pointer;

}


.introArea img{

  margin-bottom:55px;
  max-width:22%;
  float:right;
  margin-right:55px;
  margin-left:25px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;

}


.splitImg img{

max-width:50%;

}


.clear{

  clear:both;

}

.pin{float:left;}

.infoborderlower {

  border-style:dashed;
  border-width:1px;
  border-color:white;
  width:225px;
  margin-bottom:15px;

}



.teaserImgs img{

  max-width:100%;


}


.teaserInfo{

  margin-bottom:50px;
  margin-top:20px;

}

.teaserInfo img{

  float: left;
  margin-left:12px;
  margin-right:12px;

}

.sm img{

  margin-bottom:20px;

}


.cdt{

  background:url("../img/wy/small/fluers.jpg");
  background-size:cover;
}





.npsamy{

  background:url("../img/ut/zionChain-2.jpg");
  background-size:cover;

}


.thinger h5{

  color:#ffffff;

}








.thingerInner{


    width:90%;
    z-index:55;
    position:absolute;
    bottom:-40px;
    left:25px;



}


.thingerInner img{

    float:left;
    margin-right:15px;

}



.sticky {

    position: fixed;
     top: 0;

}

.teasers img{

min-height:166px;

}
